{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <script src="{% static 'custom/color-modes.js' %}"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>FileProccessor</title>
  <link rel="stylesheet" href="{% static 'custom/newprocess-min.css' %}">
  <link href="{% static 'main/bootstrap.min.1.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/Dropzone/min/dropzone.min.css' %}" rel="stylesheet">

  <style>

  </style>


  <!-- Custom styles for this template -->
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <div style="position: absolute; top: 0; right: 22px;left: 22px;z-index: 9999;">
    <div class="toast toast-success fade hide" role="alert" data-delay="6000" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="toast-body">
        تغییرات با موفقیت ثبت شد
      </div>
    </div>
  </div>
  <div style="position: absolute; top: 0; right: 22px;left: 22px;z-index: 9999;">
    <div class="toast toast-danger fade hide" role="alert" data-delay="6000" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="toast-body">
        تغییرات با موفقیت ثبت شد
      </div>
    </div>
  </div>
  <div style="position: absolute; top: 0; right: 22px;left: 22px;z-index: 9999;">
    <div class="toast toast-dark fade hide" role="alert" data-delay="6000" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="toast-body">
        تغییرات با موفقیت ثبت شد
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check2" viewBox="0 0 16 16">
      <path
        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
      <path
        d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
      <path
        d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
      <path
        d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
    </symbol>
  </svg>

  <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
      aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
      <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
        <use href="#circle-half"></use>
      </svg>
      <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
          aria-pressed="false">
          <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
            <use href="#sun-fill"></use>
          </svg>
          Light
          <svg class="bi ms-auto d-none" width="1em" height="1em">
            <use href="#check2"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
          aria-pressed="false">
          <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
            <use href="#moon-stars-fill"></use>
          </svg>
          Dark
          <svg class="bi ms-auto d-none" width="1em" height="1em">
            <use href="#check2"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto"
          aria-pressed="true">
          <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
            <use href="#circle-half"></use>
          </svg>
          Auto
          <svg class="bi ms-auto d-none" width="1em" height="1em">
            <use href="#check2"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>

  <div class="container">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="proccesor-tab" data-bs-toggle="tab" data-bs-target="#proccesor"
          type="button" role="tab" aria-controls="proccesor" aria-selected="true">Add File</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="crud-tab" data-bs-toggle="tab" data-bs-target="#crud" type="button" role="tab"
          aria-controls="crud" aria-selected="false">View / Edit</button>
      </li>

    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="proccesor" role="tabpanel" aria-labelledby="proccesor-tab">
        <div class="form-signin w-100 m-auto">
          <div class="row">
            <div class="col-12">
              <!-- Uploader Dropzone -->
              <form action="/new-file/" id="zdrop" class="fileuploader center-align">
                {% csrf_token %}
                <div id="upload-label" style="width: 200px;">
                  <!-- https://feathericons.dev/?search=upload-cloud&iconset=feather -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                    class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2">
                    <polyline points="16 16 12 12 8 16" />
                    <line x1="12" x2="12" y1="12" y2="21" />
                    <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3" />
                    <polyline points="16 16 12 12 8 16" />
                  </svg>

                </div>
                <span class="tittle">Click the Button or Drop Files Here</span>
              </form>

              <!-- Preview collection of uploaded documents -->
              <div class="preview-container">
                <div class="collection card" id="previews">
                  <div class="collection-item clearhack valign-wrapper item-template" id="zdrop-template">
                    <div class="d-flex justify-content-center align-items-center p-2 my-2">
                      <div class="col-10 zdrop-info" data-dz-thumbnail>
                        <div>
                          <span data-dz-name></span> <small data-dz-size></small>
                        </div>
                        <div class="progress">
                          <div class="determinate" style="width:0" data-dz-uploadprogress></div>
                        </div>
                        <div class="dz-error-message"><span data-dz-errormessage></span></div>
                      </div>
                      <div class="col-1 secondary-content actions">
                        <a href="#!" data-dz-remove class="btn-floating ph red white-text waves-effect waves-light">
                          <!-- https://feathericons.dev/?search=x&iconset=feather -->
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                            class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2">
                            <line x1="18" x2="6" y1="6" y2="18" />
                            <line x1="6" x2="18" y1="6" y2="18" />
                          </svg>

                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary w-100 py-2 Submit" type="button">Submit</button>
        </div>
      </div>
      <div class="tab-pane fade" id="crud" role="tabpanel" aria-labelledby="crud-tab">
        <div class="row justify-content-center align-items-center">
          <div class="col-10 col-md-8">
            <div class="form-group">
              <label for="Passengers">
                Passengers:
              </label>
              <select class="form-select" multiple name="pk" id="Passengers">

              </select>
            </div>
          </div>
          <div class="col-2 col-md-4">
            <button class="btn btn-dark newPassenger" type="button">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button class="btn btn-dark EditPassengers d-none" type="button">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="data-form">
          <form action="" id="UpdateForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" name="Name" id="Name" class="form-control">
            </div>

            <div class="row">
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Sex">Sex</label>
                  <input type="text" name="Sex" id="Sex" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Age">Age</label>
                  <input type="text" name="Age" id="Age" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="SibSp">SibSp</label>
                  <input type="text" name="SibSp" id="SibSp" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Survived">Survived</label>
                  <input type="text" name="Survived" id="Survived" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Pclass">Pclass</label>
                  <input type="text" name="Pclass" id="Pclass" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Parch">Parch</label>
                  <input type="text" name="Parch" id="Parch" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Ticket">Ticket</label>
                  <input type="text" name="Ticket" id="Ticket" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Fare">Fare</label>
                  <input type="text" name="Fare" id="Fare" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Cabin">Cabin</label>
                  <input type="text" name="Cabin" id="Cabin" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Embarked">Embarked</label>
                  <input type="text" name="Embarked" id="Embarked" class="form-control">
                </div>
              </div>
            </div>
            <div class="row mt-1 justify-content-start align-items-center">
              <div class="col-2">
                <button class="btn btn-primary update-btn" type="button">
                  Update
                </button>
                <button class="btn btn-danger destroy-btn ml-1" type="button">
                  Delete
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="data-new-form d-none">
          <form action="" id="NewForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" name="Name" id="Name" class="form-control">
            </div>
            <div class="row">
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Sex">Sex</label>
                  <input type="text" name="Sex" id="Sex" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Age">Age</label>
                  <input type="text" name="Age" id="Age" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="SibSp">SibSp</label>
                  <input type="text" name="SibSp" id="SibSp" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Survived">Survived</label>
                  <input type="text" name="Survived" id="Survived" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Pclass">Pclass</label>
                  <input type="text" name="Pclass" id="Pclass" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Parch">Parch</label>
                  <input type="text" name="Parch" id="Parch" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Ticket">Ticket</label>
                  <input type="text" name="Ticket" id="Ticket" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Fare">Fare</label>
                  <input type="text" name="Fare" id="Fare" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Cabin">Cabin</label>
                  <input type="text" name="Cabin" id="Cabin" class="form-control">
                </div>
              </div>
              <div class="col-3 col-6">
                <div class="form-group">
                  <label for="Embarked">Embarked</label>
                  <input type="text" name="Embarked" id="Embarked" class="form-control">
                </div>
              </div>
            </div>
            <div class="row mt-1 justify-content-start align-items-center">
              <div class="col-2">
                <button class="btn btn-primary submit-btn" type="button">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class="Loader d-none">
    <span class="foxic-loader"></span>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="{% static 'main/bootstrap.bundle.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/c4f527db1d.js" crossorigin="anonymous"></script>
  <script src="{% static 'plugins/Dropzone/min/dropzone.min.js' %}"></script>
  <script src="{% static 'plugins/Dropzone/min/dropzone-amd-module.min.js' %}"></script>
  <script src="{% static 'custom/main.js'%}"></script>
  <script src="{% static 'custom/newprocess-min.js'%}"></script>
</body>

</html>
